.events{
     display: flex;
     flex-direction: column;
     justify-content: center;
    align-items: start;
    text-align: center;
    margin-left: 40vw;
    margin-top: 5vw;
    border: 1px solid red;
    width: max-content;
    padding: 5px;
    background-color: red;
}