.nav{
     display: flex;
     align-items: center;
     justify-content: space-between;
      background: grey;
      padding: 10px 2px;
}

.plus{
   height: 50px;
   width: 50px;
   background-color: red;
   cursor: pointer;
}
